<div class="main">

  <h1 class="heading" style="color:pink">{{title}}</h1>
  <p>Wie groß sind Sie?</p>
  <input class="myInput" type="number" name="groesse" id="groesse">
  <p>Wie schwer sind Sie?</p>
  <input class="myInput" type="number" name="gewicht" id="gewicht">
  <br>
  <input class="myInput" type="submit" (click)="bmiRechner()">
  <!--Submit der BMI berechnet-->

  <!--ngIf-->
  <h2 *ngIf="bmiResultValid" class="heading">{{ergebnis}}<span id="res"></span> </h2>
  <h3 *ngIf="bmiResultValid" class="heading">{{spektrum}}<span id="spektrum"></span> </h3>
  <br> <br> <br>
  <a id="myLink" href=""></a>
  <img id="image" src="https://maxinutrition.de/media/wysiwyg/MaxiNutrition_Schaubild_BMI.jpg"
    alt="Bild zur Darstellung des BMIS">
</div>